<div class="header-wrapper">
    <div class="logo-wrapper">
        <img src="/images/logoimage/images.png" alt="logo">
    </div>
   
    <div class="nav-wrapper">
        <ul class="headerList">
            <li class="headerItem">HOME</li>
            <li class="headerItem">PROFILE</li>
            <li class="headerItem">SHOP</li>
        </ul>
        <div class="search-wrapper">
            <i class="fas fa-search searchBtn"></i>
        </div>
        <div class="cart-wrapper">
            <i class="fas fa-shopping-bag cartBtn"></i>
        </div>
    </div>
</div>
